<%- include('layout/header') %>
</head>
<%- include('layout/nav-start') %>

<% if(userType === 'employer'){ %>
  <%- include('layout/employer-nav-list') %>
<% } else if(userType === 'employee'){ %>
  <%- include('layout/employee-nav-list') %>
<% } else{ %>
  <%- include('layout/home-nav-list') %>
<% } %>

<%- include('layout/nav-end') %>
<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh">
  <div class="row">
    <h1 class="text-center">OOPS! This Page is not Found</h1>
  </div>
</div>
<%- include('layout/footer') %>
