<%- include('layout/header') %>
</head>
<%- include('layout/nav-start') %>

<% if(userType === 'employer'){ %>
  <%- include('layout/employer-nav-list') %>
<% } else if(userType === 'employee'){ %>
  <%- include('layout/employee-nav-list') %>
<% } else{ %>
  <%- include('layout/home-nav-list') %>
<% } %>

<%- include('layout/nav-end') %>

<% if(!userType){ %>
  <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh">
    <div class="row">
      <h1 class="text-center">Welcome to The Employment Platform</h1>
      <h3 class="text-center"> We help you find you next job</h3>
      <div class="d-flex justify-content-center">
        <a href="/employee/signup" class="btn btn-primary mt-3 me-3" style="width: 150px;">Get Started</a>
        <a href="/employer/signup" class="btn btn-info mt-3" style="width: 150px;">Are you hiring?</a>
      </div>
    </div>
  </div>
<% } %>

<%- include('layout/footer') %>
