<%- include('layout/header') %>
</head>
<%- include('layout/nav-start') %>
<% if(userType === 'employee') { %>
  <%- include('layout/employee-nav-list') %>
<% } else{ %>
  <%- include('layout/employer-nav-list') %>
<% } %>
<%- include('layout/nav-end') %>

<div class="container"  style="margin-top: 5rem;">
  <h2 class="text-center mb-4"><%= job.title %></h2>
  
  <div class="card text-center mb-4">
    <div class="card-body">
      <!-- Job Information -->
      <p><strong>Title:</strong> <%= job.title %></p>
      <!--<p><strong>Company:</strong> <%= job.company %></p>-->
      <p><strong>Experience Level:</strong> <%= job.expLevel %></p>
      <p><strong>Salary:</strong> $<%= job.salary %></p>

      <!-- Job Description -->
      <h5>Description</h5>
      <p><%= job.description %></p>

      <% if(userType === 'employee') { %>
        <% const application = job.employees.find(app => app.empId === empId);
            if(application){
        %>
          <%if(application.status === 'pending'){%>
            <p class="text-primary">Pending</p>
          <%} else if(application.status === 'rejected'){%>
            <p class="text-danger">Rejected</p>
          <% } else{ %>
            <p class="text-success">Accepted</p>
          <% } %>
        <% } else{ %>
          <form action="/job/<%= job.jobId %>/apply" method="POST" style="display:inline;">
            <button type="submit" class="btn btn-success">Apply</button>
          </form>
        <% } %>
      <% } else{ %>
        <% if(job.employees.length) { %>
          <h5>Employees Applications</h5>
          <div class="container">
            <% job.employees.forEach(emp => { %>
              <div class="d-flex align-items-center justify-content-between border rounded p-3 mb-3">
                <!-- Employee Name on the Left -->
                <p class="mb-0"><%= emp.employee.name %></p>

                <p class="mb-0"><%= emp.employee.title %></p>

                <!-- Center Button for Viewing Profile -->
                <a href="/employee/<%= emp.employee.empId %>" class="btn btn-primary btn-sm">Show Profile</a>

                <!-- Accept and Reject Buttons on the Right -->
                <div>
                  <button class="btn btn-success btn-sm me-2" , 'accepted')">Accept</button>
                  <button class="btn btn-danger btn-sm" , 'rejected')">Reject</button>
                </div>
          </div>
            <% }) %>
        <% } else{ %>
          <h5>No Applications Yet</h5>
        <% } %>
</div>
      <% } %>
    </div>
  </div>
</div>

<%- include('layout/footer') %>

